* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Slab', serif;
}

body {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(46, 46, 46), #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(46, 46, 46), #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }

  .portfolio {
    color: white;
    font-size: 35px;
    margin-top: 5px;
}

.portfolio span {
    color: rgb(255 193 0);
}


li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.link-menu:hover {
    color: rgb(255 193 0);
    transition: 0.6s;
}

.link-menu {
    text-decoration: none;
    color: white;
}

.form {
    width: 30%;
    min-width: 350px;
    background-color: whitesmoke;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(54, 54, 54);
    margin: 100px auto;
    padding: 15px;
    margin-top: 150px;
}

input,
textarea {
    display: block;
    min-width: 320px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid rgb(110, 105, 105);
    margin-top: 20px;
    height: 30px;
    padding-left: 10px;
    color: rgb(37,37,37);
    text-shadow: 0.03em 0.03em #333
}

textarea {
    height: 200px;
    padding-top: 10px;
}

button {
    display: block;
    /*para o botão ocupar toda a linha*/
    margin: 20px auto;
    /*para centralizar o botão,
    só funciona se utilizar o display block */
    min-width: 320px;
    height: 40px;
    border: 1px solid rgb(110, 105, 105);
    border-radius: 5px;
    background-color: rgb(37,37,37);
    cursor: pointer;
    /*mãozinha*/
    color: white;
    font-size: 15px;
}

button:hover {
    /*quando passa o cursor em cima muda de cor*/
    opacity: 0.8;
    color: rgb(255,193,0);
}

button:active {
    /*sensação de clickar*/
    opacity: 0.6;
}

h1,
p {
    text-align: center;
    margin: 10px;
}

h1 {
    font-size: 25px;
    color: rgb(255,193,0);
    text-shadow: 0.06em 0.06em #333
}